
header.site-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--header);
    z-index: 2000;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background: var(--text);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 2px solid #181818;
  }
  
  header.site-header .header-content {
    width: 100%;
    height: var(--header);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  header.site-header .header-content nav.site-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 4rem;
  }
  
  header.site-header .header-content nav.site-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  header.site-header .header-content nav.site-menu ul li a {
    font-size: var(--fz);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    font-weight: 400;
    display: block;
    color: var(--bg);
    position: relative;
  }
  
  header.site-header .header-content nav.site-menu ul li a::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--theme);
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  header.site-header .header-content nav.site-menu ul li:not(:last-child) {
    margin-right: 4rem;
  }
  
  header.site-header .header-content nav.site-menu ul li:hover a::after {
    opacity: 1;
  }
  
  header.site-header .header-content .header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
  
  header.site-header .header-content .header-right > * {
    position: relative;
    cursor: pointer;
  }
  
  header.site-header .header-content .header-right > *::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--theme);
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  header.site-header .header-content .header-right > *:hover::after {
    opacity: 1;
  }
  
  header.site-header .header-content .header-right i {
    padding-left: 10px;
  }
  
  header.site-header .header-content .header-right .search-btn {
    margin-right: 30px;
    color: var(--bg);
  }
  
  header.site-header .header-content .header-right a {
    color: var(--bg);
  }
  
  header.site-header .header-mobile-menu {
    display: none;
    position: absolute;
    height: var(--header);
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  header.site-header .header-mobile-menu .header-mobile-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: var(--header);
  }
  
  header.site-header .header-mobile-menu .header-mobile-top .site-branding {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
  header.site-header .header-mobile-menu .header-mobile-top #toggle {
    position: absolute;
    left: -100%;
    top: -100%;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top #toggle:focus ~ .toggle-container .button-toggle {
    -webkit-box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  header.site-header .header-mobile-menu .header-mobile-top #toggle:checked ~ .toggle-container .button-toggle {
    -webkit-box-shadow: 0 0 0 550px #181818, inset 0 0 0 20px #181818;
            box-shadow: 0 0 0 550px #181818, inset 0 0 0 20px #181818;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top #toggle:checked ~ .toggle-container .button-toggle:hover {
    -webkit-box-shadow: 0 0 0 550px black, inset 0 0 0 20px black, 0 0 0 8px black, inset 0 0 0 20px black;
            box-shadow: 0 0 0 550px black, inset 0 0 0 20px black, 0 0 0 8px black, inset 0 0 0 20px black;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top #toggle:checked ~ .toggle-container .button-toggle:before {
    -webkit-transform: translateY(-50%) rotate(45deg) scale(1);
        -ms-transform: translateY(-50%) rotate(45deg) scale(1);
            transform: translateY(-50%) rotate(45deg) scale(1);
  }
  
  header.site-header .header-mobile-menu .header-mobile-top #toggle:checked ~ .toggle-container .button-toggle:after {
    -webkit-transform: translateY(-50%) rotate(-45deg) scale(1);
        -ms-transform: translateY(-50%) rotate(-45deg) scale(1);
            transform: translateY(-50%) rotate(-45deg) scale(1);
  }
  
  header.site-header .header-mobile-menu .header-mobile-top #toggle:checked:focus ~ .toggle-container .button-toggle {
    -webkit-box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.9), inset 0 0 0 20px rgba(0, 0, 0, 0.9), 0 0 0 8px rgba(0, 0, 0, 0.9), inset 0 0 0 20px rgba(0, 0, 0, 0.9);
            box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.9), inset 0 0 0 20px rgba(0, 0, 0, 0.9), 0 0 0 8px rgba(0, 0, 0, 0.9), inset 0 0 0 20px rgba(0, 0, 0, 0.9);
  }
  
  header.site-header .header-mobile-menu .header-mobile-top #toggle:checked ~ .site-menu {
    margin-bottom: 100px;
    pointer-events: auto;
    -webkit-transform: translate(50px, 50px);
        -ms-transform: translate(50px, 50px);
            transform: translate(50px, 50px);
  }
  
  header.site-header .header-mobile-menu .header-mobile-top #toggle:checked ~ .site-menu li {
    letter-spacing: 0;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    margin-top: 0;
    opacity: 1;
    -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition: 0.5s, opacity 0.1s;
    -o-transition: 0.5s, opacity 0.1s;
    transition: 0.5s, opacity 0.1s;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top #toggle:checked ~ .site-menu li :nth-child(1) {
    -webkit-transition-delay: 0.15s;
         -o-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top #toggle:checked ~ .site-menu li :nth-child(1):before {
    -webkit-transition-delay: 0.15s;
         -o-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top #toggle:checked ~ .site-menu li :nth-child(2) {
    -webkit-transition-delay: 0.1s;
         -o-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top #toggle:checked ~ .site-menu li :nth-child(2):before {
    -webkit-transition-delay: 0.1s;
         -o-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top #toggle:checked ~ .site-menu li :nth-child(3) {
    -webkit-transition-delay: 0.05s;
         -o-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top #toggle:checked ~ .site-menu li :nth-child(3):before {
    -webkit-transition-delay: 0.05s;
         -o-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top #toggle:checked ~ .site-menu li :nth-child(4) {
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top #toggle:checked ~ .site-menu li :nth-child(4):before {
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top #toggle:checked ~ .site-menu li :before {
    opacity: 0;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top #toggle:checked ~ .site-menu .sub-menu li :before {
    opacity: 0;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top #toggle:checked ~ .wrapper {
    padding-top: 30px;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top #toggle:checked ~ .wrapper:before {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  header.site-header .header-mobile-menu .header-mobile-top .button-toggle {
    position: absolute;
    display: inline-block;
    top: 50%;
    width: 25px;
    height: 25px;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top .button-toggle:before,
  header.site-header .header-mobile-menu .header-mobile-top .button-toggle:after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--bg);
    border-radius: 5px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top .button-toggle:before {
    -webkit-transform: translateY(-50%) rotate(45deg) scale(0);
        -ms-transform: translateY(-50%) rotate(45deg) scale(0);
            transform: translateY(-50%) rotate(45deg) scale(0);
  }
  
  header.site-header .header-mobile-menu .header-mobile-top .button-toggle:after {
    -webkit-transform: translateY(-50%) rotate(-45deg) scale(0);
        -ms-transform: translateY(-50%) rotate(-45deg) scale(0);
            transform: translateY(-50%) rotate(-45deg) scale(0);
  }
  
  header.site-header .header-mobile-menu .header-mobile-top .site-menu {
    display: inline-block;
    pointer-events: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  
  header.site-header .header-mobile-menu .header-mobile-top .site-menu li {
    position: relative;
    display: inline-block;
    float: left;
    clear: both;
    color: transparent;
    font-size: 14px;
    height: 7px;
    line-height: 7px;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-transform: scaleY(0.2);
        -ms-transform: scaleY(0.2);
            transform: scaleY(0.2);
    -webkit-transition: 0.5s, opacity 1s;
    -o-transition: 0.5s, opacity 1s;
    transition: 0.5s, opacity 1s;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top .site-menu li a:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--bg);
    -webkit-transform: translateY(-60%) scaleY(5);
        -ms-transform: translateY(-60%) scaleY(5);
            transform: translateY(-60%) scaleY(5);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top .site-menu li:nth-child(1) {
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top .site-menu li:before:nth-child(2) {
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top .site-menu li:nth-child(1):before {
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top .site-menu li:nth-child(2) {
    -webkit-transition-delay: 0.05s;
         -o-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top .site-menu li:nth-child(2):before {
    -webkit-transition-delay: 0.05s;
         -o-transition-delay: 0.05s;
            transition-delay: 0.05s;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top .site-menu li:nth-child(3) {
    -webkit-transition-delay: 0.1s;
         -o-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top .site-menu li:nth-child(3):before {
    -webkit-transition-delay: 0.1s;
         -o-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top .site-menu li:nth-child(4) {
    -webkit-transition-delay: 0.15s;
         -o-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top .site-menu li:nth-child(4):before {
    -webkit-transition-delay: 0.15s;
         -o-transition-delay: 0.15s;
            transition-delay: 0.15s;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top .site-menu li:nth-child(1) {
    letter-spacing: -7px;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top .site-menu li:nth-child(2) {
    letter-spacing: -8px;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top .site-menu li:nth-child(3) {
    letter-spacing: -9px;
  }
  
  header.site-header .header-mobile-menu .header-mobile-top .site-menu li:nth-child(n+4) {
    letter-spacing: -8px;
    margin-top: -7px;
    opacity: 0;
  }
  

  
@media (min-width: 1024.98px) {
    header.site-header .header-mobile-menu .header-mobile-top nav.site-menu ul li a,
    header.site-header .header-mobile-menu .header-mobile-top a:visited {
      font-weight: 100;
      text-transform: uppercase;
      font-size: 1.15rem;
      font-stretch: condensed;
      color: var(--bg);
    }
  }


  
@media (max-width: 767px) {


    header.site-header {
      position: relative;
    }
  
    header.site-header .header-content {
      display: none;
    }
  
    header.site-header .header-mobile-menu {
      display: block;
    }

    
}
